@import '~antd/dist/antd.css';

body {
    background: #f0f2f5
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.menu {
    flex-basis: 300px;
}

.error {
    color: red;
}

.header-username {
    float: left;
    color: white;
    padding: 0 20px;
}

.card {
    margin: 60px 0 10px;
}

.ant-card-body {
    padding: 32px 48px 8px;
}