@import '~antd/dist/antd.css';

body {
    background: #f0f2f5
}

.mt-30 {
    margin-top: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.w-150 {
    width: 150px;
}

.menu {
    flex-basis: 300px;
}

.error {
    color: red;
}

.date-cell {
    text-align: center;
}

.header-username {
    float: left;
    color: white;
    padding: 0 20px;
}

.card {
    margin: 60px 0 10px;
}

.flex-content {
    background: #fff;
    padding: 24px 40px;
    margin: 0 auto;
    min-height: 280px;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events {
    margin: 0;
    padding: 0;
    list-style: none;
}

.calendar-modal {
    display: flex;
    flex-direction: column;
}

.ant-card-body {
    padding: 32px 48px 8px;
}

.ant-form-item-with-help {
    margin-bottom: 10px;
}